<header class="app-header navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand">Art Store</a>

        <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" #navbarCollapse>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a routerLink="/products" routerLinkActive="active" class="nav-link">Products</a>
                </li>

                <ng-container *ngIf="!loggedIn">
                    <li class="nav-item">
                        <a routerLink="/signin" routerLinkActive="active" class="nav-link">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/signup" routerLinkActive="active" class="nav-link">Sign Up</a>
                    </li>
                </ng-container>

                <ng-container *ngIf="loggedIn">
                    <li class="nav-item">
                        <a routerLink="/orders" routerLinkActive="active" class="nav-link">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/cart" routerLinkActive="active" class="nav-link">Cart</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/profile" routerLinkActive="active" class="nav-link">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link logout-link" (click)="logout()">Logout</a>
                    </li>                      
                </ng-container>
            </ul>
        </div>
    </div>
</header>
