<app-loading *ngIf="loading"></app-loading>

<app-toast [start]="toastShow" [body]="toastMessage"></app-toast>

<app-empty *ngIf="!products.length"></app-empty>

<div class="container mt-3" *ngIf="products.length">
    <div class="search-bar">
        <input type="text" placeholder="Search by product name" [(ngModel)]="searchQuery"
            (keyup.enter)="searchProducts()">
        <button class="search-button" (click)="searchProducts()">Search</button>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <button class="btn btn-primary" (click)="openModalAdd()">Add New Product</button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="product-titles">
                <div class="col-md-1 column-title"><p>Image</p></div>
                <div class="col-md-4 column-title"><p>Name</p></div>
                <div class="col-md-2 column-title"><p>Price</p></div>
                <div class="col-md-2 column-title"><p>Stock</p></div>
                <div class="col-md-3 column-title"><p>Options</p></div>
            </div>

            <div class="product-list" *ngFor="let item of filteredProducts">
                <div class="col-md-1"><img src="{{item.image}}"></div>
                <div class="col-md-4"><p>{{item.name}}</p></div>
                <div class="col-md-2"><p>{{item.price}}</p></div>
                <div class="col-md-2"><p>{{item.stock}}</p></div>
                <div class="col-md-3 options">
                    <button class="btn btn-info" (click)="openModalEdit(item.id)">Edit</button>
                    <button class="btn btn-danger" (click)="openModalDelete(item.id)">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
