.product-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
 
.product-titles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.product-titles p {
    margin: 0;
    padding: 10px 0;
    font-size: 16px;
    font-weight: bold;
}

.product-list img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    object-fit: cover;
}

.options {
    display: flex;
    gap: 10px;
}

.column-title {
    font-weight: bold;
    margin-bottom:  0;
}

.search-bar {
    justify-content: center;
    padding: 5px;
    display: flex;
    margin-bottom: 15px;
  }
  
  .search-bar input {
    padding: 5px 15px;
    width: 400px;
    border: none;
    outline: none;
    height: 45px;
    font-size: 16px;
    background: transparent;
    background-color: #f0f0f0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  .search-button {
    padding: 5px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    height: 45px;
    font-weight: bold;
    border-top-right-radius: 20px; 
    border-bottom-right-radius: 20px; 
  }