<div class="container">
    <div class="row">
        <h2>Your Information</h2>
        <p><strong>Name:  </strong>{{this.data.orderData.user.name}}</p>
        <p><strong>Phone:  </strong>{{this.data.orderData.user.phone}}</p>
        <p><strong>Address:  </strong>{{this.data.orderData.user.address}}</p>
        <p><strong>Total:  </strong>{{this.data.orderData.total}} L.E</p>
    </div>

    <div class="row mt-4">
        <h2>Payment Information</h2>
        <form>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="cardNumber">Card Number</label>
                    <input type="text" class="form-control" id="cardNumber">
                </div>
              <div class="col-md-6 mb-3">
                <label for="expirationDate">Expiration Date</label>
                <input type="text" class="form-control" id="expirationDate" placeholder="MM/YY">
              </div>
              <div class="col-md-6 mb-3">
                <label for="cvv">CVV</label>
                <input type="text" class="form-control" id="cvv" placeholder="123">
              </div>
            </div>
        </form>

        <div mat-dialog-actions class="opt">
            <button class="btn btn-danger" (click)="cancel()">Cancel</button>
            <button class="btn btn-success" (click)="send()">Send</button>
        </div>
    </div>
</div>