<header class="app-header">
    <div class="left">
      <h3>Store-Admin</h3>
    </div>
    
    <div class="right">
      <a *ngIf="!loggedIn" routerLink="/signin" routerLinkActive="active" class="link">Sign In</a>

      <ng-container *ngIf="loggedIn">
        <a routerLink="/reports" routerLinkActive="active" class="link">Reports</a>
        <a routerLink="/dashboard" routerLinkActive="active" class="link">Products</a>
        <a routerLink="/orders" routerLinkActive="active" class="link">Orders</a>
        <a routerLink="/users" routerLinkActive="active" class="link">Users</a>
       
        <button class="btn out" (click)="logout()">Logout</button>
      </ng-container>
    </div>
</header>
  